[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

flask = "==0.12"
flask-httpauth = "==3.2.3"
flask-restplus = "==0.10.1"
gunicorn = "==19.7.1"
"iso8601" = "==0.1.12"
requests = "==2.11.1"
structlog = "==17.2.0"
sdc-cryptography = "==0.2.0"
arrow = "==0.12.1"


[dev-packages]

coverage = "==4.5.1"
requests-mock = "==1.4.0"
testfixtures = "==5.4.0"
pytest-cov = "==2.5.1"
codecov = "==2.0.15"
flake8 = "==3.5.0"
pytest = "==3.4.2"
