[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

flask = "==0.12"
flask-httpauth = "==3.2.3"
flask-restplus = "==0.10.1"
gunicorn = "==19.7.1"
requests = "==2.11.1"
structlog = "==17.2.0"


[dev-packages]

coverage = "*"
pytest = "*"
requests-mock = "*"
testfixtures = "*"
pytest-cov = "*"
setuptools = "==32.1.0"
codecov = "*"
